    <div class="mdl-layout__header-row mdl-grid mdl-grid--no-spacing mdl-env-row">
      <!-- Title -->
      <span class="mdl-layout-title mdl-cell mdl-cell--12-col mdl-cell--middle">Enviornments</span>
       <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--3-col mdl-cell--middle">
       <span>DEV</span>
       </button>
       <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--3-col mdl-cell--middle">
       <span>SIT</span>
       </button>
       <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--3-col mdl-cell--middle">
       <span>UAT</span>
       </button>
       <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--3-col mdl-cell--middle">
       <span>PROD</span>
       </button>
    </div>
    <!-- -->